# MongoDB connection string (must begin with mongodb+srv:// or mongodb://)
URI=mongodb+srv://<username>:<password>@<your-cluster>.mongodb.net/?retryWrites=true&w=majority&appName=virtualLibrary

# Name for MongoDB Database
DBNAME=virtualLibrary

# Flask secret key for session management
SECRET_KEY=your-secret-key-here
