<!DOCTYPE html>
<html>
    <head>
        <title>Library</title>
    </head>

    <body>
        <h1>My Library</h1>
        <!-- Show Books -->
        <div class="filter">
            <label for="category">Show:</label>
            <select id="category">
                <option value="">All</option>
                <option value="want_to_read">Want To Read</option>
                <option value="read">Books Read</option>
            </select>
        </div>
        <div id="list">
            {% for book in books %}
            <div class="book" data-category="{{ book.category }}">
                <h3>{{ book.title }}</h3>
                <p class="author"><strong>Author:</strong> {{ book.author }}</p>
                {% if book.notes %}
                <p class="notes"><strong>Notes:</strong> {{ book.notes }}</p>
                {% endif %}
            </div>

            <!-- Update Book Category -->
            <form action="{{ url_for('update_category', book_id=book.book_id)  }}" method="post" class="form">
                <label for="{{ loop.index }}">Category:</label>
                <select name="category" id="{{ loop.index }}">
                    <option value="want_to_read" 
                    {% if book.category == 'want_to_read' %}selected{% endif %}>
                    Want To Read
                </option>
                <option value="read" 
                    {% if book.category == 'read' %}selected{% endif %}>
                    Books Read
                </option>
                </select>
                <button type="submit">Update</button>
            </form>
        </div>
        {% endfor %}
    </body>
</html>