<!DOCTYPE html>
<html>
    <head>
        <title>Library</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <header>
            <div class="container">
                <h1>Virtual Library</h1>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('library') }}">Library</a></li>
                        <li><a href="{{ url_for('index') }}">Scan</a></li>
                        <li><a href="{{ url_for('search_books') }}">Search</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="container">
            <!-- Show Books -->
            <form class="filter" method="get">
                <label for="category">Show:</label>
                <select name="category" id="category">
                    <option value="" {% if not selected %}selected{% endif %}>All</option>
                    <option value="want_to_read" {% if selected=="want_to_read" %}selected{% endif %}>Want To Read</option>
                    <option value="read" {% if selected=="read" %}selected{% endif %}>Books Read</option>
                </select>
                <button type="submit">Filter</button>
            </form>
            <div id="list">
                {% for book in books %}
                <div class="book" data-category="{{ book.category }}">
                    <h3>{{ book.title }}</h3>
                    <p class="author"><strong>Author:</strong> {{ book.author }}</p>
                    {% if book.notes %}
                    <p class="notes"><strong>Notes:</strong> {{ book.notes }}</p>
                    {% endif %}
                </div>
    
                <!-- Update Book Category -->
                <form action="{{ url_for('update_category', book_id=book.book_id)  }}" method="post" class="form">
                    <label for="{{ loop.index }}">Category:</label>
                    <select name="category" id="{{ loop.index }}">
                        <option value="want_to_read" 
                        {% if book.category == 'want_to_read' %}selected{% endif %}>
                        Want To Read
                    </option>
                    <option value="read" 
                        {% if book.category == 'read' %}selected{% endif %}>
                        Books Read
                    </option>
                    </select>
                    <button type="submit">Update</button>
                </form>
            </div>
            {% endfor %}
        </main>
    </body>
</html>