<!DOCTYPE html>
<html>
    <head>
        <title>Search Results</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1>Virtual Library</h1>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('library') }}">Library</a></li>
                        <li><a href="{{ url_for('index') }}">Scan</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="container">
            <h2>Search Results</h2>
                <div id="search-results" class="grid">
                {% for book in books %}
                    <div class="book-card">
                        <h3>{{ book.title }}</h3>
                        <p><strong>Author(s):</strong> {{ ", ".join(book.authors) }}</p>
                        {% if book.cover %}
                        <img src="{{ book.cover }}" alt="Cover of {{ book.title }}" style="width: 100%; height: auto;">
                        {% else %}
                        <p>No cover image available.</p>
                        {% endif %}
                        <br>
                        <button class="add-button" data-book='{{ book | tojson | safe }}'>Add to My List</button>
                    </div>
                     {% endfor %}
                </div>
        </main>
    </body>
</html>
